<div id="contenedor">
      <h1>Acerda de Nosotros</h1>
      <div style="margin-left: 30%;">
        <div style="width: 25%; float: left;">
          <h2>Nuestro email</h2>
          <h3>admin@gmail.com</h3>
        </div>

        <div style="width: 30%; float: left;">
          <h2>Localizacion</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12717.846985807791!2d-1.8220829!3d37.1654962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7b29d727bfc477%3A0x7db418d46e7610ca!2sALEGRIA%20Palacio%20Mojacar!5e0!3m2!1ses!2ses!4v1615824991981!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div style="margin-top: 50%;">
        <h2 style="text-align: center;">biografia</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique aspernatur, laborum nihil vitae, officia sunt quam cum corrupti provident unde eaque autem porro tempore amet ab omnis incidunt numquam expedita?
          Dolores, molestias! Laborum commodi, blanditiis aliquid facere, consequatur expedita numquam tempora sunt quia autem nesciunt dolorem obcaecati dolores ex incidunt non amet minima minus beatae eum ab mollitia! Cum, placeat.
          Inventore dicta qui molestias rerum in veritatis soluta quam quo rem ad ullam similique id, tenetur excepturi eos quaerat omnis dolor culpa amet sapiente voluptatum magni? Temporibus eveniet minima cum.
          Inventore aspernatur quaerat aut sequi ipsam perferendis? Voluptates, nemo. Obcaecati, iste blanditiis. At sapiente, iure error reprehenderit temporibus minus consequatur dicta culpa quia quos sed enim modi expedita vitae. Eaque.</p>

          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique aspernatur, laborum nihil vitae, officia sunt quam cum corrupti provident unde eaque autem porro tempore amet ab omnis incidunt numquam expedita?
            Dolores, molestias! Laborum commodi, blanditiis aliquid facere, consequatur expedita numquam tempora sunt quia autem nesciunt dolorem obcaecati dolores ex incidunt non amet minima minus beatae eum ab mollitia! Cum, placeat.
            Inventore dicta qui molestias rerum in veritatis soluta quam quo rem ad ullam similique id, tenetur excepturi eos quaerat omnis dolor culpa amet sapiente voluptatum magni? Temporibus eveniet minima cum.
            Inventore aspernatur quaerat aut sequi ipsam perferendis? Voluptates, nemo. Obcaecati, iste blanditiis. At sapiente, iure error reprehenderit temporibus minus consequatur dicta culpa quia quos sed enim modi expedita vitae. Eaque.</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique aspernatur, laborum nihil vitae, officia sunt quam cum corrupti provident unde eaque autem porro tempore amet ab omnis incidunt numquam expedita?
              Dolores, molestias! Laborum commodi, blanditiis aliquid facere, consequatur expedita numquam tempora sunt quia autem nesciunt dolorem obcaecati dolores ex incidunt non amet minima minus beatae eum ab mollitia! Cum, placeat.
              Inventore dicta qui molestias rerum in veritatis soluta quam quo rem ad ullam similique id, tenetur excepturi eos quaerat omnis dolor culpa amet sapiente voluptatum magni? Temporibus eveniet minima cum.
              Inventore aspernatur quaerat aut sequi ipsam perferendis? Voluptates, nemo. Obcaecati, iste blanditiis. At sapiente, iure error reprehenderit temporibus minus consequatur dicta culpa quia quos sed enim modi expedita vitae. Eaque.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique aspernatur, laborum nihil vitae, officia sunt quam cum corrupti provident unde eaque autem porro tempore amet ab omnis incidunt numquam expedita?
          Dolores, molestias! Laborum commodi, blanditiis aliquid facere, consequatur expedita numquam tempora sunt quia autem nesciunt dolorem obcaecati dolores ex incidunt non amet minima minus beatae eum ab mollitia! Cum, placeat.
          Inventore dicta qui molestias rerum in veritatis soluta quam quo rem ad ullam similique id, tenetur excepturi eos quaerat omnis dolor culpa amet sapiente voluptatum magni? Temporibus eveniet minima cum.
          Inventore aspernatur quaerat aut sequi ipsam perferendis? Voluptates, nemo. Obcaecati, iste blanditiis. At sapiente, iure error reprehenderit temporibus minus consequatur dicta culpa quia quos sed enim modi expedita vitae. Eaque.</p>

      </div>
    </div>
